In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

서울시 식품위생업소 현황 2024.09.28일 기준
- 서울 열린 데이터 광장 : https://data.seoul.go.kr/dataList/OA-13663/S/1/datasetView.do
- 년도별로 합친 후 휴게 음식점 중 프렌차이즈 카페만을 선별

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
## 2024년
seoul = '/content/drive/MyDrive/baf_society/서울시 식품 위생 업소 현황/서울시 식품위생업소 현황_2024(new).csv'
seoul_2024 = pd.read_csv(seoul,encoding='euc-kr')
## 2023년
seoul = '/content/drive/MyDrive/baf_society/서울시 식품 위생 업소 현황/서울시_식품위생업소_현황_2023년.csv'
seoul_2023 = pd.read_csv(seoul,encoding='euc-kr')
## 2022년
seoul = '/content/drive/MyDrive/baf_society/서울시 식품 위생 업소 현황/서울시_식품위생업소_현황_2022년.csv'
seoul_2022 = pd.read_csv(seoul,encoding='euc-kr')
## 2021년
seoul = '/content/drive/MyDrive/baf_society/서울시 식품 위생 업소 현황/서울시_식품위생업소_현황_2021년.csv'
seoul_2021 = pd.read_csv(seoul,encoding='euc-kr')
## 2020년
seoul = '/content/drive/MyDrive/baf_society/서울시 식품 위생 업소 현황/서울시_식품위생업소_현황_2020년.csv'
seoul_2020 = pd.read_csv(seoul,encoding='euc-kr')
## 2019년까지
seoul = '/content/drive/MyDrive/baf_society/서울시 식품 위생 업소 현황/서울시_식품위생업소_현황_2019년.csv'
seoul_2019 = pd.read_csv(seoul, encoding='euc-kr', on_bad_lines='skip', sep=';', quotechar='"',header = 0)

<ipython-input-4-8fef09a1cb49>:6: DtypeWarning: Columns (26,30) have mixed types. Specify dtype option on import or set low_memory=False.
  seoul_2023 = pd.read_csv(seoul,encoding='euc-kr')
<ipython-input-4-8fef09a1cb49>:18: DtypeWarning: Columns (12,15,49,50) have mixed types. Specify dtype option on import or set low_memory=False.
  seoul_2019 = pd.read_csv(seoul, encoding='euc-kr', on_bad_lines='skip', sep=';', quotechar='"',header = 0)

In [ ]:
## 각각의 데이터 셋 확인
# seoul_2024.info()
# seoul_2023.info()
# seoul_2022.info()
# seoul_2021.info()
# seoul_2020.info()
# seoul_2019.info()

In [5]:
## 2020년의 'Unnamed: 53', 'Unnamed: 54', 'Unnamed: 55', 'Unnamed: 56' 칼럼 드랍
seoul_2020 = seoul_2020.drop(columns=['Unnamed: 53', 'Unnamed: 54', 'Unnamed: 55', 'Unnamed: 56'])

In [6]:
## 데이터셋 합치기
seoul_list = [seoul_2019,seoul_2020,seoul_2021,seoul_2022,seoul_2023,seoul_2024]
seoul = pd.concat(seoul_list)

In [7]:
seoul.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1224500 entries, 0 to 30357
Data columns (total 53 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   시군구코드          1224500 non-null  int64
 1   업종코드           1224500 non-null  int64
 2   년도             1224500 non-null  int64
 3   업소일련번호         1224500 non-null  int64
 4   업종명            1224500 non-null  object
 5   허가신고일          1224500 non-null  int64
 6   업소명            1224496 non-null  object
 7   소재지도로명         1224500 non-null  object
 8   소재지지번          1222062 non-null  object
 9   영업장면적(㎡)       391330 non-null   float64
 10  영업자시작일         1222589 non-null  object
 11  법인명            239493 non-null   object
 12  법인번호           225913 non-null   object
 13  소재지시작일         1221713 non-null  float64
 14  행정동명           1194944 non-null  object
 15  폐업일자           774326 non-null   object
 16  폐업구분           771749 non-null   object
 17  폐업사유           579231 non-null   object
 18  업태명            1212827 non-null  object
 19  지상_부터          445820 non-null   object
 20  지상_까지          423396 non-null   float64
 21  지하_부터          265672 non-null   float64
 22  지하_까지          253755 non-null   float64
 23  총층수            274936 non-null   float64
 24  교육수료일자         207599 non-null   float64
 25  모범음식점여부        1220375 non-null  object
 26  급수시설           494685 non-null   object
 27  업소위치           826478 non-null   object
 28  종업원남           420086 non-null   object
 29  종업원여           417794 non-null   float64
 30  급식소종류          4870 non-null     object
 31  평균급식인원수        11949 non-null    object
 32  최대급식인원수        11974 non-null    float64
 33  1일급식인원수        10276 non-null    float64
 34  일인당평균급식비       10745 non-null    float64
 35  운영형태           10042 non-null    object
 36  영업장조리장면적(㎡)    626253 non-null   object
 37  영업장객실면적(㎡)     415363 non-null   float64
 38  영업장무도장면적(㎡)    391116 non-null   float64
 39  영업장기타면적(㎡)     647387 non-null   float64
 40  업소내화장실면적(㎡)    457887 non-null   float64
 41  타업소공동화장실면적(㎡)  474521 non-null   float64
 42  영업장탈의실면적(㎡)    400044 non-null   float64
 43  영업장객석면적(㎡)     606403 non-null   float64
 44  작업장면적(㎡)       365687 non-null   float64
 45  검사실면적(㎡)       271432 non-null   float64
 46  진열(판매)대면적(㎡)   38473 non-null    float64
 47  창고(보관소)면적(㎡)   62871 non-null    float64
 48  허가(신고)번호       1220470 non-null  object
 49  조건부허가시작일       74549 non-null    object
 50  조건부허가종료일       70390 non-null    object
 51  내외국인구분         1221221 non-null  object
 52  국적             799927 non-null   object
dtypes: float64(22), int64(5), object(26)
memory usage: 504.5+ MB

In [9]:
are_columns_same = all(seoul_2023.columns == seoul_2019.columns)
print("두 데이터프레임의 컬럼명이 같습니까?", are_columns_same)

두 데이터프레임의 컬럼명이 같습니까? True

업종명 기준으로 휴게음식점 분리
- 휴게음식점은 음주행위가 허용되지 않는 곳으로 주로 다류(茶類), 아이스크림류 등을 조리·판매하거나 패스트푸드점, 분식점 형태의 영업

In [10]:
seoul['업종명'].unique()

array(['일반음식점', '유흥주점영업', '단란주점', '휴게음식점', '집단급식소', '식품제조가공업',
       '즉석판매제조가공업', '식품소분업', '식품자동판매기영업', '유통전문판매업', '기타식품판매업', '식품운반업',
       '위탁급식영업', '제과점영업', '집단급식소식품판매업', '건강기능식품일반판매업', '건강기능식품유통전문판매업',
       '용기.포장지제조업', '식용얼음판매업', '식품첨가물제조업', '식품냉동.냉장업', '식품등 수입판매업',
       '건강기능식품수입업', '공유주방운영업'], dtype=object)

In [11]:
seoul_filtered = seoul[seoul['업종명'] == '휴게음식점']
# seoul_filtered.head()

- 휴게음식점 중 프랜차이즈 카페만 추출
- 카페 리스트 : '메머드', '매머드', '컴포즈', '메가', '빽다방', '더벤티', '이디야', '스타벅스', '커피빈', '할리스', '투썸플레이스','커피빈','더커피빈','카페베네','탐앤탐스','풀바셋','파스쿠찌'

In [16]:
seoul_filtered['업소명'].str.contains('바나', regex=True, case=False)

683      False
684      False
685      False
686      False
687      False
         ...
30301    False
30335    False
30346    False
30347    False
30357    False
Name: 업소명, Length: 144199, dtype: bool

In [20]:
# '메머드', '컴포즈', '메가' 등의 프렌차이즈 카페명을 포함한 행 필터링
franchises = ['메머드', '매머드', '컴포즈', '메가', '빽다방', '더벤티', '이디야', '스타벅스', '할리스', '투썸플레이스','커피빈','더커피빈','탐앤탐스','디저트39','디저트 39','셀렉토','커피베이','바나프레소']

pattern = '|'.join(franchises)
seoul_filtered_cafe = seoul_filtered[seoul_filtered['업소명'].str.contains(pattern, regex=True, case=False)]

# 결과 출력
seoul_filtered_cafe.info() ##6393

<class 'pandas.core.frame.DataFrame'>
Index: 6393 entries, 697 to 30162
Data columns (total 53 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   시군구코드          6393 non-null   int64
 1   업종코드           6393 non-null   int64
 2   년도             6393 non-null   int64
 3   업소일련번호         6393 non-null   int64
 4   업종명            6393 non-null   object
 5   허가신고일          6393 non-null   int64
 6   업소명            6393 non-null   object
 7   소재지도로명         6393 non-null   object
 8   소재지지번          6385 non-null   object
 9   영업장면적(㎡)       1156 non-null   float64
 10  영업자시작일         6380 non-null   object
 11  법인명            2420 non-null   object
 12  법인번호           2394 non-null   object
 13  소재지시작일         6367 non-null   float64
 14  행정동명           6385 non-null   object
 15  폐업일자           1069 non-null   object
 16  폐업구분           1039 non-null   object
 17  폐업사유           742 non-null    object
 18  업태명            6363 non-null   object
 19  지상_부터          4272 non-null   object
 20  지상_까지          4118 non-null   float64
 21  지하_부터          805 non-null    float64
 22  지하_까지          746 non-null    float64
 23  총층수            1360 non-null   float64
 24  교육수료일자         555 non-null    float64
 25  모범음식점여부        6363 non-null   object
 26  급수시설           1749 non-null   object
 27  업소위치           5745 non-null   object
 28  종업원남           535 non-null    object
 29  종업원여           516 non-null    float64
 30  급식소종류          0 non-null      object
 31  평균급식인원수        1 non-null      object
 32  최대급식인원수        1 non-null      float64
 33  1일급식인원수        1 non-null      float64
 34  일인당평균급식비       1 non-null      float64
 35  운영형태           0 non-null      object
 36  영업장조리장면적(㎡)    3450 non-null   object
 37  영업장객실면적(㎡)     1375 non-null   float64
 38  영업장무도장면적(㎡)    1236 non-null   float64
 39  영업장기타면적(㎡)     3884 non-null   float64
 40  업소내화장실면적(㎡)    1492 non-null   float64
 41  타업소공동화장실면적(㎡)  1454 non-null   float64
 42  영업장탈의실면적(㎡)    1245 non-null   float64
 43  영업장객석면적(㎡)     3204 non-null   float64
 44  작업장면적(㎡)       287 non-null    float64
 45  검사실면적(㎡)       272 non-null    float64
 46  진열(판매)대면적(㎡)   0 non-null      float64
 47  창고(보관소)면적(㎡)   0 non-null      float64
 48  허가(신고)번호       6363 non-null   object
 49  조건부허가시작일       54 non-null     object
 50  조건부허가종료일       24 non-null     object
 51  내외국인구분         6363 non-null   object
 52  국적             6131 non-null   object
dtypes: float64(22), int64(5), object(26)
memory usage: 2.6+ MB

In [21]:
file_path = '/content/drive/MyDrive/baf_society/seoul_franchises_cafe0928.csv'
seoul_filtered_cafe.to_csv(file_path, index=False)